#Profile{
    text-align: center;
    margin-top: 100px;
}
#Portfolio{
    color: rgb(68, 0, 100);
    font-size: xx-large;
    text-align: center;
}
#DWWM{
    color: rgb(68, 0, 100);
    font-size: xx-large;
    text-align: center;
}